table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

}

th{

    background:#2563eb;

    color:white;

    padding:12px;

}

td{

    padding:10px;

    border-bottom:1px solid #ddd;

}

tr:nth-child(even){

    background:#f8fafc;

}

tr:hover{

    background:#eef4ff;

}